@charset "UTF-8";
/*  
        CSS Reset & The basic style of webs     
---------------------------------------------------
RULE:
Element__Modifier--status
text1_text2 

*/
/* -----------------------------------------------------
    CSS Reset 
--------------------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  margin-bottom: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */
:focus,
button {
  outline: 0 !important;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: "";
}

a {
  text-decoration: none;
}
a:any-link {
  color: #0083CD;
}

.v-application a {
  color: #0083CD;
}

/* -----------------------------------------------------
    DESIGN GUIDELINE (font & color)
--------------------------------------------------------*/
/* Font_size */
.font_title {
  letter-spacing: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}
@media screen and (max-width: 767px) {
  .font_title {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
  }
}

.font_subtitle {
  letter-spacing: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}
@media screen and (max-width: 767px) {
  .font_subtitle {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
  }
}

.font_heading {
  letter-spacing: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}
@media screen and (max-width: 767px) {
  .font_heading {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
  }
}

.font_heading_2 {
  letter-spacing: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}
@media screen and (max-width: 767px) {
  .font_heading_2 {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
  }
}

.font_bold {
  letter-spacing: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}
@media screen and (max-width: 767px) {
  .font_bold {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
  }
}

.font_regular {
  letter-spacing: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}
@media screen and (max-width: 767px) {
  .font_regular {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }
}

.font_medium {
  letter-spacing: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}
@media screen and (max-width: 767px) {
  .font_medium {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
  }
}

.font_caption {
  letter-spacing: 0;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
}
@media screen and (max-width: 767px) {
  .font_caption {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
  }
}

.font_small {
  letter-spacing: 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}
@media screen and (max-width: 767px) {
  .font_small {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
  }
}

.font_mini {
  letter-spacing: 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  transform: scale(0.835);
}

/* Font_color */
.font_primary {
  color: #375946 !important;
}

.font_second {
  color: #89BA34 !important;
}

.font_black {
  color: #000000 !important;
}

.font_white {
  color: #FFFFFF !important;
}

.font_red {
  color: #FF0000 !important;
}

/* -----------------------------------------------------
    Vuetify adjustment
--------------------------------------------------------*/
p,
span {
  margin-bottom: 0 !important;
}

body {
  overflow-x: hidden;
}

.form-control:focus,
.form-select:focus {
  box-shadow: none;
  border-color: #C4C4C4;
}

.container {
  min-width: 100%;
  padding: 52px;
  margin: auto 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1088px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding: 24px 12px;
  }
}
/* -----------------------------------------------------
    COMPONENTS
--------------------------------------------------------*/
/* RWD */
.web_only {
  display: inherit;
}

.app_only {
  display: none;
}

@media screen and (max-width: 767px) {
  .web_only {
    display: none;
  }

  .app_only {
    display: inherit;
  }
}
/* PAGE_TITLE */
/* .................................
<div class="page_title">
    <img src="../static/icon/mypage.png">
    <h1 class="font_title">新規登録</h1>
</div>
<div class="page_hr"></div>
................................. */
.page_title {
  display: flex;
  align-items: center;
  padding-bottom: 6px;
}

.page_title img {
  height: 24px;
  margin-right: 8px;
}

.page_title h1 {
  color: #375946;
}

.page_hr {
  border-bottom: 1px solid #89BA34;
  margin-bottom: 36px;
}

@media screen and (max-width: 767px) {
  .page_title {
    padding-bottom: 5px;
  }

  .page_hr {
    margin-bottom: 16px;
  }
}
/* BUTTON */
/* .................................
<button class="btn_primary" v-ripple>ENTER</button>
<button class="btn_white" v-ripple>BACK</button>
<button class="btn_gray">DISABLE</button>
................................. */
.btn_primary,
.btn_white,
.btn_gray {
  width: 284px;
  height: 60px;
  border-radius: 35px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.btn_primary {
  background: #375946;
  color: #FFFFFF;
  cursor: pointer;
}

.btn_white {
  border: 1px solid #375946;
  color: #375946;
  cursor: pointer;
}

.btn_gray {
  color: #FFFFFF;
  background: #C4C4C4;
  cursor: default;
  pointer-events: none;
}

.btns {
  display: flex;
  flex-direction: column;
}
.btns a {
  width: fit-content;
  margin: auto;
}

.href_btn {
  display: flex;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.btn_tab {
  letter-spacing: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  width: 104px;
  height: 38px;
  border: 1px solid #375946;
  color: #375946;
  border-radius: 38px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .btn_tab {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }
}
.btn_tab a {
  color: #375946 !important;
}
.btn_tab.active {
  background: #375946;
  color: #FFFFFF;
}
.btn_tab.active a {
  color: #FFFFFF !important;
}

@media screen and (max-width: 767px) {
  .btn_primary,
.btn_white,
.btn_gray {
    width: 220px;
    height: 52px;
  }
}
button[disabled] {
  color: #FFFFFF;
  background: #C4C4C4;
  cursor: default;
  pointer-events: none;
}

/* ERROR_HINT */
/* .................................
 <div class="error_hint">入力されていません。</div>
................................. */
.error_hint {
  display: none;
}
.error_hint.active {
  display: flex !important;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin-top: 4px;
}
.error_hint.active::before {
  content: "エラー";
  width: 52px;
  height: 23px;
  background: #777777;
  color: #FFFFFF;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

input.error_input,
select.error_input {
  background-color: #FAEDED !important;
  border: 1px solid #FF0000 !important;
}

#form label.error {
  background-color: transparent !important;
  width: 100%;
}

.v-application .error {
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}
.v-application .error::before {
  content: "エラー";
  width: 52px;
  height: 23px;
  background: #777777;
  color: #FFFFFF;
  border-radius: 30px;
  margin-right: 8px;
  padding: 3px 5px;
}
.v-application label.error {
  margin-top: 4px !important;
}
.v-application input.error,
.v-application select.error,
.v-application textarea.error {
  letter-spacing: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  background-color: #FAEDED !important;
  border: 1px solid #FF0000 !important;
}
@media screen and (max-width: 767px) {
  .v-application input.error,
.v-application select.error,
.v-application textarea.error {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }
}
.v-application select.error {
  height: 38px;
}

/* INPUT */
/* .................................
.form-check-input
.form-control
.form-select
................................. */
input:focus,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.form-check-input:checked {
  background-color: #0083CD;
  border: 1px solid #0083CD;
  opacity: 1;
}

.form-check-input,
.form-control,
.form-select,
.form-check-input:focus,
.form-control:focus,
.form-select:focus,
.form-check-input[disabled],
.form-control[disabled],
.form-select[disabled],
input[readonly] {
  border: 1px solid #C4C4C4;
  outline: none;
  box-shadow: none;
  opacity: 1;
  margin: auto 5px auto auto;
}

.form-check-input[disabled] {
  background: #C4C4C4;
}

.form-control[disabled],
.form-select[disabled],
input[readonly] {
  background: #ECECEC !important;
}

::placeholder {
  color: #C4C4C4 !important;
}

input[readonly],
textarea[readonly] {
  cursor: not-allowed;
}

/* CHECKBOX */
/* .................................
 <div class="checkbox_wrap">
    <label><input type="checkbox" class="form-check-input">test</label>
</div>
................................. */
.checkbox_wrap {
  width: fit-content;
}

.checkbox_wrap * {
  cursor: pointer;
}

.checkbox_wrap label {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* INPUT ERROR */
.is_error,
.is_error:focus {
  border: 1px solid #FF0000;
  background-color: #FAFAFA;
}

/* HINT「*」 */
/* .................................
<sup class="star">＊</sup>
................................. */
.star {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #FF0000;
  width: 20px;
  top: -4px;
}

@media screen and (max-width: 767px) {
  .star {
    font-size: 12px;
    margin-left: 4px;
  }
}
/* COMPLETE_PAGE */
/* .................................
 <div class="wrapper__complete">
    <p>TITLE</p>
    <p>CONTENT</p>
</div>
................................. */
.wrapper__complete {
  min-height: calc(100vh - 410px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper__complete p:first-child {
  letter-spacing: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #375946 !important;
}
@media screen and (max-width: 767px) {
  .wrapper__complete p:first-child {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
  }
}
.wrapper__complete p:nth-child(2) {
  letter-spacing: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin-top: 4px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .wrapper__complete p:nth-child(2) {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }
}
.wrapper__complete button {
  margin: 24px auto 0 auto !important;
}

@media screen and (max-width: 767px) {
  .wrapper__complete {
    min-height: calc(100vh - 332px);
  }
  .wrapper__complete p:nth-child(2) {
    margin-top: 16px !important;
  }
  .wrapper__complete button {
    margin: 16px auto 0 auto !important;
  }
}

/*# sourceMappingURL=base.css.map */
